RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ 404.php [L]

RewriteRule ^article-apps/uploads/ - [F]
ErrorDocument 403 /article-apps/uploads/403.php
